/* normalize */
*
{
  margin: 0;
  padding: 0;
}
/* Keep vertical scrollbar visible to prevent centering jumps */
html
{
  height: 100%;
}

body
{
  overflow-y: scroll;
  background-color: #fff;
  height: 100%;
}

/* Fonts */
body,
div#wrap,
input,
textarea,
select,
button
{
    font-family: Dosis;
    font-size: 12pt;
}

/* top bar. */
div#topbar
{
  width: 100%;
  color: #666;
  /* background-color: #993333; */
  border-bottom: 2px solid black;
}

div#top
{
  max-width: 600px;
  margin: 0 auto;
  clear: both;
}

/* nav objects */
div#top a
{
  display: inline-block;
}
div#top a:hover
{
  background: transparent;
}

/* nav buttons */
div#top #nav a.navbutton
{
  font-weight: 600;
  padding: 10pt 8pt 10pt 8pt;
  color: #000;
  text-decoration: none;
}
div#top #nav a.navbutton:hover,
div#top #nav a.cur_page
{
  color: #fff;
  background-color: #000;
}

/* top logo. */
div#top #logo
{
  float: left;
  margin: 8px;
  text-decoration: none;
  text-align: center;
}

/* Wrapper for main content */
div#wrap
{
  position: absolute;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
}

/* main content */
div#content
{
  width: 90%;
  min-width: 150px;
  max-width: 500px;
  margin: 0 auto 100pt;
  padding: 15pt;
  background-color: #fff;
  border-radius: 5pt;
  color: #333;
}

div#content a
{
  color: #c11;
}
div#content a:hover
{
  color: #fff;
  background: #c11;
}

/* Paragraphs and headers */
div#content p,
div#content h1,
div#content h2
{
  font-weight: 400;
  margin-bottom: 5pt;
}
div#content h1
{
  margin-top: 24pt;
}
div#content h2
{
  margin-top: 12pt;
}

div#content hr
{
  margin: 30pt 0;
}

div#bottom
{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #ccc;
  text-align: center;
  padding: 20pt 0;
  border-top: 2px solid #888;
}

input
{
  outline: none;
  background-color: #fff;
}

input[type="text"],
input[type="email"],
input[type="password"]
{
  margin: 3pt 0;
  border: 0;
  border-bottom: 1px solid #888;
}

/* Submit button of forms */
/* and other buttony things */
input[type="submit"],
select,
button
{
  margin: 3pt 0;
  padding: 3pt 5pt;
  border: 1px solid #888;
  border-radius: 2px;
  background: transparent;
}

/* Contest submit box */
form textarea
{
  width: 100%;
  min-height: 100pt;
}

/* The horizontal line */
hr
{
    margin: 0;
    border: 0;
    border-top: 1px solid rgba(0,0,0,0.5);
}

/* Scoreboard (and other tables eventually) */
div#content table tr th
{
  font-weight: 400;
}
div#content table td
{
  padding: 5px 10px;
}
