/* Keep vertical scrollbar visible to prevent centering jumps */
html
{
    overflow-y: scroll
}

body
{
    background-color: #D3DEFA;
}

div#content a
{
    color: #0000ff;
}

/* Fonts */
div#wrap,
input,
textarea
{
    font-size: 12pt;
    font-family: Dosis;
}

/* top logo. */
div#logo
{
  margin: 0 0 10pt;
}
div#logo a
{
  font-size: 24pt;
  color: #6482CC;
  text-decoration: none;
  text-align: center;
}

/* Wrapper for main content */
div#wrap
{
  width: 90%;
  min-width: 150px;
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
}

/* main content */
div#content
{
  padding: 15pt;
  background-color: #fff;
  border-radius: 5pt;
}

input
{
  outline: none;
  background-color: #fff;
}

input[type="text"],
input[type="email"],
input[type="password"]
{
  margin: 3pt;
  border: 0;
  border-bottom: 1px solid #888;
}

/* Submit button of forms */
input[type="submit"]
{
  margin: 12pt 3pt 3pt;
  padding: 3pt 5pt;
  border: 1px solid #888;
  border-radius: 2px;
  background: transparent;
}

/* Contest submit box */
form textarea
{
  width: 100%;
  min-height: 100pt;
}

/* The horizontal line */
hr
{
    margin: 0;
    border: 0;
    border-top: 1px solid rgba(0,0,0,0.5);
}
