{% extends "base.html" %}

{% block content %}

<h1>Welcome!</h1>

<p>JHKG is a Canadian competition in computer programming. It is the spiritual successor to <a href='http://dwite.ca/'>DWITE</a>, and a great way to practice for the <a href='http://www.cemc.uwaterloo.ca/contests/computing.html'>CCC</a>.</p>

<h1>Format</h1>

<p>(This may change.)</p>

<p>We'll have five contests. October, November, December, January, and February. Then we do the CCC, then we rest.</p>

<p>Each contest will have four problems in roughly increasing difficulty.</p>

<h2>Problems</h2>

<p>When you are ready to submit a solution, press the button and you will be given some input. You will have four minutes to feed it to your program and paste the output in the other box.</p>

<h2>Scoring</h2>

<p>Solving a problem is worth 100 points. There will also be a time bonus of up to 100 points.</p>

<h1>History</h1>

<p>We're just two guys who met at CCC Stage 2. That's all~!</p>

{% endblock %}

