{% extends "base.html" %}

{% block content %}

<h1>Welcome!</h1>

<p>JHKG is a Canadian competition in computer programming. It is the spiritual successor to <a href='http://dwite.ca/'>DWITE</a>, and a great way to practice for the <a href='http://www.cemc.uwaterloo.ca/contests/computing.html'>CCC</a>.</p>

<h1>Format</h1>

<p>We'll have five contests. September, October, November, January, and February. Then we do the CCC, then we rest.</p>

<p>Each contest will have four problems in roughly increasing difficulty.</p>

<p>This may change at any time.</p>

{% endblock %}

