<!doctype html>
<html>
<head>
    <meta http-equiv='Content-Type' content='text/html;charset=utf-8' />
    <title>{% block title %}JHKG. a coding contest.{% endblock %}</title>
    <!-- script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script -->
    <script src="/static/jquery.min.js"></script>
    <!-- Include the excellent Dosis font. -->
    <link href='http://fonts.googleapis.com/css?family=Dosis:300' rel='stylesheet' type='text/css'>
    <link href='/static/style.css' rel='stylesheet' />

    <!-- Set timezone in a cookie. -->
    <script type='text/javascript'>
        document.cookie = 'timezone=' + new Date().getTimezoneOffset();
    </script>
</head>
<body>
<div id="wrap">
<div id="topbar">
    <div id="top">
        <span id='logo'>
            <a href='/'>
                <img src='/static/logo.png' />
            </a>
        </span>
        <span id='nav'>
            {% for location, text in [
            ('/contests', 'Contest'),
            ('/scoreboard', 'Scoreboard'),
            ] %}
            <a href='{{ location }}' class='navbutton{% if request.path.startswith(location) %} cur_page{% endif %}'>{{ text }}</a>
            {% endfor %}
            <span style='float:right'>
                {% if username %}
                <a href='/user/{{ username }}' class='navbutton{% if request.path.startswith('/user/%s' % username) %} cur_page{% endif %}'>{{ username }}</a>
                <a href='/logout' class='navbutton{% if request.path.startswith('/logout') %} cur_page{% endif %}'>Logout</a>
                {% else %}
                <a href='/register' class='navbutton{% if request.path.startswith('/register') %} cur_page{% endif %}'>Register</a>
                <a href='/login' class='navbutton{% if request.path.startswith('/login') %} cur_page{% endif %}'>Login</a>
                {% endif %}
            </span>
        </span>
    </div>
</div>
<div id="content">
{% block content %}
{% endblock %}
</div>
<!--
<div id="bottom">
    JHKG is jouhou kagaku. Believe it!
</div>
-->
</div>
</body>
</html>
