<!doctype html>
<html>
<head>
    <meta http-equiv='Content-Type' content='text/html;charset=utf-8' />
    <title>{% block title %}JHKG. a coding contest.{% endblock %}</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <!-- Include the excellent Dosis font. -->
    <link href='http://fonts.googleapis.com/css?family=Dosis:300' rel='stylesheet' type='text/css'>
    <link href='/static/style.css' rel='stylesheet' />

    <!-- Set timezone in a cookie. -->
    <script type='text/javascript'>
        document.cookie = 'timezone=' + new Date().getTimezoneOffset();
    </script>
</head>
<body>
<div id="topbar">
    <div id="top">
        <span id='logo'>
            <a href='/'>
                <img src='/static/logo.png' />
            </a>
        </span>
        <span id='nav'>
            <a href='/about' class='navbutton'>About</a>
            <a href='/scoreboard' class='navbutton'>Scoreboard</a>
            <span style='float:right'>
                {% if username %}
                Logged in as <a href='/user/{{ username }}'>{{ username }}</a>.
                <a href='/logout' class='navbutton'>Logout</a>
                {% else %}
                <a href='/register' class='navbutton'>Register</a>
                <a href='/login' class='navbutton'>Login</a>
                {% endif %}
            </span>
        </span>
    </div>
</div>
<div id="wrap">
<div id="content">
{% block content %}
{% endblock %}
</div>
</div>
</body>
</html>
