{% extends "base.html" %}

{% block content %}

{% if contest %}
<h1>{{ contest.name }}</h1>

{# Contest happening now #}
{% if contest.start_time < now < contest.start_time+contest.duration %}
<p>{{ localtime(contest.start_time) | prettydate }}</p>
<p>Started at {{ localtime(contest.start_time) | prettytime }}.</p>
<p>Will end at {{ localtime(contest.start_time+contest.duration) | prettytime }}.</p>

{# Contest is long over #}
{% elif contest.start_time < now %}
<p>{{ localtime(contest.start_time) | prettydate }}</p>
<p>{{ localtime(contest.start_time) | prettytime }} - {{ localtime(end_time) | prettytime }}</p>
<p>This is a past contest. You will not get scoreboard points for solving these problems, but it's still great practice!</p>

{# Contest is in future #}
{% else %}
<p>{{ localtime(contest.start_time) | prettydate }}</p>
<p>Will start at {{ localtime(contest.start_time) | prettytime }}.</p>
<p>Will last {{ contest.duration }}.</p>
{% endif %}

{#
<h2>Details</h2>
<p>{{ contest.desc }}</p>
#}

{# Display contest problems only if it has started #}
{% if contest.start_time < now %}
<h1>Problems</h1>
{% for p_num,p in problems %}

<h2>Problem {{ p_num }}: {{ p.name }}</h2>
<p>{{ p.desc }}</p>

{% if username %}

{% if p.name in user_solved %}
You've solved this problem.
{% else %}

<button id='solve_{{ p.name }}'>attempt to solve this problem</button>
<div id='panel_{{ p.name }}' style='display:none'>
    Input<br />
    <textarea id='data_{{ p.name }}'></textarea><br />
    <textarea id='textarea_{{ p.name }}' placeholder='Paste your output here'></textarea><br />
    <button id='submit_{{ p.name }}'>submit!</button>
</div>

<script>
// scopehack
$('#solve_{{ p.name }}').click(function(){ solve_prob('{{p.name}}'); })
$('#submit_{{ p.name }}').click(function(){ submit_prob('{{p.name}}'); })
</script>

{% endif %}
{% endif %}
{% endfor %}

<script>
function solve_prob(name) {
    $.post('/contest_data',
        { problem:name },
        function (data) {
            $('#data_'+name).html(data);
            $('#panel_'+name).css('display', 'block');
        }
    );
}
function submit_prob(name) {
    $.post('/contest_submit',
        { problem:name,
          submission:$('#textarea_'+name).val()
        },
        function(data) {
            alert(data);
            document.location.href = '/contest/{{contest.name}}';
        }
    );
}
</script>

{% endif %}

{% else %}

That contest is totally mitsukarimasen, yo.

{% endif %}

{% endblock %}

