{% extends "base.html" %}

{% block content %}

{% if contest %}
<h1>{{ contest.name }}</h1>

{# Contest happening now #}
{% if contest.start_time < now < contest.start_time+contest.duration %}
<p>{{ localtime(contest.start_time) | prettydate }}</p>
<p>Started at {{ localtime(contest.start_time) | prettytime }}.</p>
<p>Will end at {{ localtime(contest.start_time+contest.duration) | prettytime }}.</p>

{# Contest is long over #}
{% elif contest.start_time < now %}
<p>{{ localtime(contest.start_time) | prettydate }}</p>
<p>{{ localtime(contest.start_time) | prettytime }} - {{ localtime(end_time) | prettytime }}</p>
<p>This is a past contest. You will not get scoreboard points for solving these problems, but it's still great practice!</p>

{# Contest is in future #}
{% else %}

<p>Wait a second, this contest hasn't started yet! What are you trying to do?</p>

{% endif %}

{#
<h2>Details</h2>
<p>{{ contest.desc }}</p>
#}

{# Display contest problems only if it has started #}
{% if contest.start_time < now %}
<h1>Problems</h1>
{% for p_num,p in problems %}

<h2>Problem {{ p_num }}: {{ p.name }}</h2>
<p>{{ p.desc | safe }}</p>

{% if username %}

{% if p.name in user_solved and user_solved[p.name] > 0 %}
<p>You earned {{ user_solved[p.name] }} points in this problem.</p>
<button id='solve_{{ p.name | uidify }}'>try again?</button>
{% else %}
<button id='solve_{{ p.name | uidify }}'>attempt to solve</button>
{% endif %}

<div id='panel_{{ p.name | uidify }}' style='display:none'>
    Input<br />
    <textarea id='data_{{ p.name | uidify }}'></textarea><br />
    <textarea id='textarea_{{ p.name | uidify }}' placeholder='Paste your output here'></textarea><br />
    <button id='submit_{{ p.name | uidify }}'>submit!</button>
</div>

<script>
// sets the solve/submit buttons to perform actions
$('#solve_{{ p.name | uidify }}').click(function(){ solve_prob('{{p.name}}'); })
$('#submit_{{ p.name | uidify }}').click(function(){ submit_prob('{{p.name}}'); })
</script>

{% endif %}
{% endfor %}

<script>
function solve_prob(name) {
    $.post('/contest_data',
        { problem:name },
        function (data) {
            $('#data_'+name.toLowerCase().replace(/\ /g, '-')).html(data);
            $('#panel_'+name.toLowerCase().replace(/\ /g, '-')).css('display', 'block');
        }
    );
}
function submit_prob(name) {
    $.post('/contest_submit',
        { problem:name,
          submission:$('#textarea_'+name.toLowerCase().replace(/\ /g, '-')).val()
        },
        function(data) {
            alert(data);
            document.location.href = '/contest/{{contest.name | uidify}}';
        }
    );
}
</script>

{% endif %}

{% else %}

That contest is totally mitsukarimasen, yo.

{% endif %}

{% endblock %}

