{% extends "base.html" %}

{% block content %}

{% if contest %}
<h2>{{ contest.name }}</h2>

{# If the contest is still going on... #}
{% if contest.start_time < now < contest.start_time+contest.duration %}
<p>Started at {{ contest.start_time.strftime('%A %B %d, %Y at %H:%M') }}.</p>
<p>Ends at {{ (contest.start_time+contest.duration).strftime('%A %B %d, %Y at %H:%M') }}.</p>
{% else %}
<p>Started at {{ contest.start_time.strftime('%A %B %d, %Y at %H:%M') }}.</p>
<p>Ended at {{ (contest.start_time+contest.duration).strftime('%A %B %d, %Y at %H:%M') }}.</p>
{% endif %}

<p>{{ contest.desc }}</p>

{% for p in problems %}

<h2>{{ p.name }}</h2>
<p>{{ p.desc }}</p>

{% if username %}

{% if p.name in user_solved %}
You've solved this problem.
{% else %}

<button id='solve_{{ p.name }}'>attempt to solve this problem</button>
<div id='panel_{{ p.name }}' style='display:none'>
    Input<br />
    <textarea id='data_{{ p.name }}'></textarea><br />
    <textarea id='textarea_{{ p.name }}' placeholder='Paste your output here'></textarea><br />
    <button id='submit_{{ p.name }}'>submit!</button>
</div>

<script>
// scopehack
$('#solve_{{ p.name }}').click(function(){ solve_prob('{{p.name}}'); })
$('#submit_{{ p.name }}').click(function(){ submit_prob('{{p.name}}'); })
</script>

{% endif %}

{% endif %}

{% endfor %}

<script>
function solve_prob(name) {
    $.post('/contest_data',
        { problem:name },
        function (data) {
            $('#data_'+name).html(data);
            $('#panel_'+name).css('display', 'block');
        }
    );
}
function submit_prob(name) {
    $.post('/contest_submit',
        { problem:name,
          submission:$('#textarea_'+name).val()
        },
        function(data) {
            alert(data);
            document.location.href = '/contest/{{contest.name}}';
        }
    );
}
</script>

{% else %}

That contest is totally mitsukarimasen, yo.

{% endif %}

{% endblock %}

